@{
    ViewData["Title"] = "Liên hệ";
}

<style>
    .contact-info {
        padding: 20px 0;
    }

        .contact-info p {
            margin-bottom: 20px;
            font-size: 16px;
        }

        .contact-info i {
            margin-right: 15px;
            color: #FE980F; /* Màu cam chủ đạo của template E-Shopper */
        }

    .contact-map {
        margin-top: 30px;
        border: 1px solid #E0E0E0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title text-center">Liên hệ với chúng tôi</h2>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
            <div class="contact-info">
                <h3>Thông tin cửa hàng</h3>
                <address>
                    <p><strong>E-SHOPPER (Chi nhánh Hà Nội)</strong></p>
                    <p><i class="fa fa-map-marker"></i> Địa chỉ: Ngõ 575/18 Kim Mã, Ba Đình, Hà Nội</p>
                    <p><i class="fa fa-phone"></i> Điện thoại: +84 837 356 638</p>
                    <p><i class="fa fa-envelope"></i> Email: duongdokimma@gmail.com</p>
                    <p><i class="fa fa-clock-o"></i> Giờ làm việc: 8:00 - 21:00 (Thứ 2 - Chủ Nhật)</p>
                </address>
            </div>
        </div>

        <div class="col-md-6">
            <div class="contact-map">
                <iframe src="https://maps.google.com/maps?q=Ng%C3%B5%20575/18%20Kim%20M%C3%A3%20Ba%20%C4%90%C3%ACnh%20H%C3%A0%20N%E1%BB%99i&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        width="100%"
                        height="350"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>